.form-container {
    position: absolute;
    top: 200px;
    left: 200px;
    width: 100%;
    height: 100%;
}

section {
    position: relative;
    width: 75vw;
    height: 200vh;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    gap: 2px;
    flex-wrap: wrap;
    overflow: hidden;
    background-position: left top; /* Position the image slightly higher and to the left */

}

section::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100vh;
    background-color: white;
    background-image: url("../../public/img_6.png");
    background-repeat: no-repeat; /* Prevent image from repeating */
    background-position: left top; /* Position the image slightly higher and to the left */
}





